[user]
	email = kevinsilvester05@gmail.com
	name = Kevin Silvester
	signingkey = 32AB85943DFA03E2
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[core]
	editor = nvim
[commit]
	gpgsign = true
[init]
	defaultBranch = master
