[submodule "shell-color-scripts"]
	path = shell-color-scripts
	url = git@github.com:KevinSilvester/shell-color-scripts.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/k"]
	path = zsh/k
	url = https://github.com/supercrabtree/k.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/KevinSilvester/nvim-config-v3.git
